@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-toastify/dist/ReactToastify.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  font-family: var(--font-neuton);
}


html {
  scroll-behavior: smooth;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.slick-slide > div {
  margin: 0 10px;
}

.clip-top-right {
  clip-path: circle(100% at 100% 0%);
}

.clip-bottom-left {
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

